* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f7f6; 
    padding: 10px 20px;
}

.logo img {
    height: 50px; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 8px 12px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #db121f;
    border-radius: 5px;
}
