* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif, monospace;
}

.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68,  #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    padding-top: 2rem;     
    padding-bottom: 2rem;  
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f6f7f6; 
    padding: 10px 20px;
    border-bottom: 3px solid black;
    border-radius: 0px;
}

.company-name {
    font-size: 20px;
    font-weight: bold;
    color: black;
    font-family: Helvetica, Arial, sans-serif;
}

.text-stroke {
  -webkit-text-stroke: 1.5px rgb(255, 255, 255); /* Outline color */
  color: rgb(10, 10, 131);           /* Hide fill color */
  font-family: cursive;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    height: 60px;
    width: auto; 
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 8px 12px;
    transition: 0.3s;
}

nav ul li a:hover {
    background-color: #db121f;
    border-radius: 5px;
    color: white;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
}

.group:hover .swiper-button-prev,
.group:hover .swiper-button-next {
  display: flex;
}

.product-section {
  background-image: url('../images/vector-SEP-2020-101_generated.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}